body {
    margin:0;
    padding:0;
}

.imagLog{
    width: 610px;
}

.images{
    margin-top : 2vw;
    margin-left : 15vw;
    width: 250px;
}

.titulo{
    margin-top : 0vw;
    margin-left : 7vw;
}

form{
    width: 35vw; 
    margin:auto;
    text-align: center;
}

.input-gorpu{
    position: relative;
    left: 50px;
}

#input{
    padding-left: 38px;
}

#icono{
    font-size: 20px;
    position: absolute;
    top: 8px;
    left: 10px;
}

@media only screen and (max-width: 1090px) {
    .form {
      flex-direction:column;
    }
    .titulo{
        text-align: center;
    }
    .logo{
        text-align: center;
        margin-right: 50px;
    }
  }
