.TNV-Container{
  background-color: #6B3E14;
}
.TNV-Container img{
  width: 40px;
}

.TNV-WhiteText{
  color: white;  
}

.TNV-Button{
  margin-left: 10px;
}

.TNV-LinkRouter{
  text-decoration: none;
}