.CantonesContainer{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    margin-left: 15%;
    
}


@media screen and (max-width: 800px) {
    .CantonesContainer{
        grid-template-columns: 50% 50%;
        margin-left: 10%;
    }
}


@media screen and (max-width: 625px) {
    .CantonesContainer{
        display: flex;
        flex-direction: column;
        margin-left: 20%;
    }
}