#ZonasVerdes{
    color: black;
    text-decoration: none;
    margin-top: 80px;
    width: 100%;
}
#ZonasVerdes:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.imagenesContainer{
    display: flex;
}

.imagenCardZonasVerdes{
    width: 40px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
}