.card{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Footer-image{
    width: 200px;
}

hr{
    color: black;
    width: 90%;
}

footer{
    margin-top: 50px;
    text-align: center;
}