.card{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Footer-imageContainer{
    background-color: white;
}
.Footer-image{
    width: 100px;
}

hr{
    color: black;
    width: 90%;
}

footer{
    text-align: center;
}